.animate-section {
    will-change: transform, opacity;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.animate-section.visible {
    opacity: 1;
}

/* Responsif untuk mode Android (max-width: 767px) */
@media (max-width: 767px) {
    .animate-section {
        transition: opacity 0.7s ease-in-out; 
       }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .animate-section {
        transition: opacity 0.6s ease-in-out; 
    }
}
