.container {
    width: 90%;
    /* Lebar default kontainer */
    margin: 10px auto;
    /* Margin atas/bawah dan tengah secara horizontal */
    padding: 20px;
    /* Padding di dalam kontainer */
}

/* Responsif untuk mode Android (max-width: 767px) */
@media (max-width: 767px) {
    .container {
        width: 95%;
        /* Lebar kontainer di perangkat Android */
        padding: 15px;
        /* Padding di dalam kontainer */
    }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 92%;
        /* Lebar kontainer di perangkat tablet */
        padding: 18px;
        /* Padding di dalam kontainer */
    }
}

/* Responsif untuk layar sangat kecil (max-width: 375px) */
@media (max-width: 375px) {
    .container {
        width: 95%;
        /* Memaksimalkan lebar untuk layar kecil */
        padding: 10px;
        /* Mengurangi padding untuk memberikan lebih banyak ruang */
    }
}