.container {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
}

/* Responsif untuk mode Android (max-width: 767px) */
@media (max-width: 767px) {
    .container {
        width: 95%;
        padding: 15px;
    }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 92%;
        padding: 18px;
    }
}

/* Responsif untuk layar sangat kecil (max-width: 375px) */
@media (max-width: 375px) {
    .container {
        width: 95%;
        /* Memaksimalkan lebar agar sesuai dengan layar kecil */
        padding: 10px;
        /* Mengurangi padding untuk lebih banyak ruang */
    }
}