footer {
    background-color: #ff9800;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Responsif untuk mode Android (max-width: 767px) */
@media (max-width: 767px) {
    footer {
        padding: 15px 0; 
        font-size: 14px; 
    }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    footer {
        padding: 12px 0; 
        font-size: 16px; /* Menyesuaikan ukuran font untuk layar tablet */
    }
}
