*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    padding: 0;
    color: #333;
    background-color: #f7c048; /* Gunakan background-color untuk konsistensi */
}

/* Responsif untuk mode Android (max-width: 767px) */
@media (max-width: 767px) {
    body {
        margin: 5px; /* Mengurangi margin untuk layar kecil */
        font-size: 14px; /* Mengurangi ukuran font agar lebih mudah dibaca pada ponsel */
    }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 6px; /* Menyesuaikan margin untuk layar tablet */
        font-size: 16px; /* Menyesuaikan ukuran font untuk layar tablet */
    }
}
