/* Mengatur box-sizing untuk seluruh dokumen */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    padding: 0;
    color: #333;
    background-color: #f7c048; /* Gunakan background-color untuk konsistensi */
}
