/* Reset box-sizing untuk semua elemen */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Gaya dasar untuk body */
body {
    font-family: 'Roboto', sans-serif;
    margin: 8px;
    /* Margin default */
    padding: 0;
    font-size: 18px;
    /* Ukuran font default */
    color: #333;
    /* Warna teks */
    background-color: #f7c048;
    /* Warna latar belakang */
}

/* Responsif untuk layar sangat kecil (max-width: 375px) */
@media (max-width: 375px) {
    body {
        margin: 4px;
        /* Margin lebih kecil untuk layar kecil */
        font-size: 13px;
        /* Ukuran font lebih kecil */
    }
}

/* Responsif untuk mode Android (376px hingga 767px) */
@media (min-width: 376px) and (max-width: 767px) {
    body {
        margin: 5px;
        /* Margin sedikit lebih besar */
        font-size: 14px;
        /* Ukuran font yang sedikit lebih besar */
    }
}

/* Responsif untuk mode tablet (768px hingga 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 6px;
        /* Margin menengah untuk tablet */
        font-size: 16px;
        /* Ukuran font lebih besar */
    }
}