/* Header Styling */
header.mdc-elevation--z8 {
    background-color: #ff9800;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 16px;
    /* Menetapkan ukuran font default */
}

/* Responsif untuk layar sangat kecil (max-width: 375px) */
@media (max-width: 375px) {
    header.mdc-elevation--z8 {
        padding: 10px;
        font-size: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}

/* Responsif untuk mode Android (376px hingga 767px) */
@media (min-width: 376px) and (max-width: 767px) {
    header.mdc-elevation--z8 {
        padding: 15px;
        font-size: 14px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    header.mdc-elevation--z8 {
        padding: 18px;
        font-size: 16px;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    }
}

/* Responsif untuk layar besar (min-width: 1025px) */
@media (min-width: 1025px) {
    header.mdc-elevation--z8 {
        padding: 20px;
        /* Menetapkan padding default */
        font-size: 16px;
        /* Ukuran font default untuk layar besar */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}