/* Judul bagian */
.section-title {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    font-size: 1.5em;
    margin-bottom: 20px;
    display: inline-block;
}

/* Timeline */
.timeline {
    position: relative;
    padding-left: 40px;
    border-left: 3px solid #333;
    margin-bottom: 20px;
}

.timeline-item {
    margin-bottom: 20px;
}

.timeline-item .date,
.timeline-item h3,
.timeline-item h4 {
    margin-bottom: 5px;
}

/* Detail timeline item */
.timeline-item .date {
    font-size: 1.2em;
    color: #555;
}

.timeline-item h3 {
    font-size: 1.5em;
    color: #333;
}

.timeline-item h4 {
    font-size: 1.3em;
    color: #d32f2f;
    margin-bottom: 10px;
    /* Menambahkan margin-bottom yang lebih besar */
}

/* Detail internship */
.internship-details {
    list-style: none;
    padding-left: 0;
}

.internship-details li {
    margin-bottom: 10px;
}

.internship-details strong {
    color: #333;
}