/* Daftar */
.mdc-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

/* Item dalam daftar */
.mdc-list-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    margin-right: 8px;
    padding: 10px; /* Menambahkan padding agar lebih nyaman pada layar kecil */
}

/* Grafik dalam item daftar */
.mdc-list-item__graphic {
    font-size: 20px;
    color: #4CAF50;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

/* Teks dalam item daftar */
.mdc-list-item__text {
    font-size: 1rem;
}

/* Responsif untuk mode Android (max-width: 767px) */
@media (max-width: 767px) {
    .mdc-list-item {
        margin-right: 0; 
        margin-bottom: 10px; /* Menambahkan margin bawah untuk jarak antar item */
        padding: 8px; /* Mengurangi padding untuk layar kecil */
    }

    .mdc-list-item__graphic {
        font-size: 18px; /* Mengurangi ukuran font untuk grafik */
        width: 60px; /* Mengurangi ukuran grafik */
        height: 60px;
    }

    .mdc-list-item__text {
        font-size: 0.9rem; /* Mengurangi ukuran font untuk teks */
    }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .mdc-list-item {
        padding: 9px; /* Menyesuaikan padding untuk layar tablet */
    }

    .mdc-list-item__graphic {
        font-size: 19px; /* Menyesuaikan ukuran font untuk grafik */
        width: 65px; /* Menyesuaikan ukuran grafik */
        height: 65px;
    }

    .mdc-list-item__text {
        font-size: 0.95rem; /* Menyesuaikan ukuran font untuk teks */
    }
}
