/* Daftar */
.mdc-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

/* Item dalam daftar */
.mdc-list-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 16px;
    padding: 16px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Umum untuk semua ukuran layar */
.mdc-list-item button {
    margin-bottom: 16px;
}

.mdc-list-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.mdc-list-item:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(1px);
}

/* Grafik dalam item daftar */
.mdc-list-item__graphic {
    font-size: 20px;
    color: #4CAF50;
    margin-right: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Teks dalam item daftar */
.mdc-list-item__text {
    font-size: 1rem;
}

/* Responsif untuk mode Android (max-width: 767px) */
@media (max-width: 767px) {
    .mdc-list-item {
        margin-right: 0;
        margin-bottom: 10px;
        padding: 8px;
    }

    .mdc-list-item__graphic {
        font-size: 18px;
        width: 60px;
        height: 60px;
    }

    .mdc-list-item__text {
        font-size: 0.9rem;
    }

    .mdc-list-item button {
        margin-bottom: 12px;
    }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .mdc-list-item {
        padding: 9px;
    }

    .mdc-list-item__graphic {
        font-size: 19px;
        width: 65px;
        height: 65px;
    }

    .mdc-list-item__text {
        font-size: 0.95rem;
    }

    .mdc-list-item button {
        margin-bottom: 14px;
    }
}
/* Responsif untuk layar sangat kecil (max-width: 375px) */
@media (max-width: 375px) {
    .mdc-list {
        margin-bottom: 10px;
    }

    .mdc-list-item {
        margin: 8px;
        padding: 8px; 
    }

    .mdc-list-item__graphic {
        font-size: 16px; 
        width: 50px; 
        height: 50px; 
    }

    .mdc-list-item__text {
        font-size: 0.85rem; 
    }

    .mdc-list-item button {
        margin-bottom: 8px; /* Mengurangi margin bawah tombol */
    }
}
