/* Container untuk seminar */
.seminar-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px;
    padding: 20px;
}

/* Header seminar */
.seminar-header {
    background-color: #ffc107;
    color: #1c1c1c;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}

/* Konten seminar */
.seminar-content {
    display: flex;
    flex-direction: column;
}

/* Item seminar */
.seminar-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

/* Tanggal seminar dan detail seminar */
.seminar-date,
.seminar-title {
    font-weight: bold;
    color: #1c1c1c;
}

/* Ukuran font untuk tanggal dan judul seminar */
.seminar-date {
    font-size: 1rem;
    margin-right: 20px;
}

.seminar-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

/* Detail seminar */
.seminar-details {
    flex-grow: 1;
    border-left: 2px solid #1c1c1c;
    padding-left: 10px;
}

/* Deskripsi seminar */
.seminar-description {
    color: #666;
    font-size: 18px;
}

/* Kelas untuk elemen yang disorot */
.highlighted {
    color: #ff9800;
    font-weight: bold;
    font-size: 1rem;
}

/* Info personal */
.personal-info {
    text-align: left;
}

/* Responsif untuk mode Android (max-width: 767px) */
@media (max-width: 767px) {
    .seminar-container {
        margin: 10px;
        padding: 15px;
    }

    .seminar-header {
        font-size: 1.2rem;
        padding: 10px 15px;
    }

    .seminar-date {
        font-size: 0.9rem;
    }

    .seminar-title {
        font-size: 1.1rem;
    }

    .seminar-item {
        flex-direction: column;
    }

    .seminar-details {
        border-left: none;
        padding-left: 0;
        margin-top: 10px;
    }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .seminar-container {
        margin: 15px;
        padding: 18px;
    }

    .seminar-header {
        font-size: 1.4rem;
        padding: 11px 18px;
    }

    .seminar-date {
        font-size: 0.95rem;
    }

    .seminar-title {
        font-size: 1.15rem;
    }

    .seminar-item {
        flex-direction: row;
    }

    .seminar-details {
        border-left: 2px solid #1c1c1c;
        padding-left: 15px;
        margin-top: 0;
    }
}