/* Navbar container */
.mdc-navbar {
    display: flex;
    padding: 16px;
    max-width: 900px;
    margin: 0 auto; /* Menyeimbangkan margin kiri dan kanan */
}

/* Navbar links */
.mdc-navbar a {
    color: #00796b;
    text-decoration: none;
    font-weight: 500;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    padding: 12px 24px;
    font-size: 12px;
    flex: 1;
    text-align: center;
    margin: 0 5px; /* Menambahkan margin di kiri dan kanan link */
}

/* Navbar link hover state */
.mdc-navbar a:hover {
    background-color: #e0f2f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsif untuk mode Android (max-width: 767px) */
@media (max-width: 767px) {
    .mdc-navbar {
        flex-direction: column; 
        padding: 10px;
    }

    .mdc-navbar a {
        font-size: 14px; 
        padding: 10px 20px; /* Menyesuaikan padding untuk tampilan lebih baik pada layar kecil */
        margin: 5px 0; /* Menghapus margin horizontal dan menambahkan margin vertikal */
    }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .mdc-navbar {
        flex-direction: row; /* Menyusun item navbar secara horizontal untuk layar tablet */
        flex-wrap: wrap; /* Mengizinkan item untuk membungkus ke baris berikutnya jika diperlukan */
        padding: 14px;
    }

    .mdc-navbar a {
        font-size: 14px; /* Menyesuaikan ukuran font untuk layar tablet */
        padding: 10px 22px; /* Menyesuaikan padding untuk layar tablet */
        margin: 5px; /* Menambahkan margin di kiri dan kanan link */
    }
}
