/* Ikon scroll */
.scroll-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff9800;
    color: white;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, opacity 0.3s ease;
    opacity: 0.8;
}

.scroll-icon:hover {
    background-color: #985b00;
    opacity: 1;
}

.scroll-icon i {
    font-size: 20px;
}

#scroll-up {
    display: none;
}

/* Responsif untuk mode Android (max-width: 767px) */
@media (max-width: 767px) {
    .scroll-icon {
        bottom: 15px; 
        right: 15px; 
        padding: 8px; 
        font-size: 18px; 
    }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .scroll-icon {
        bottom: 20px; 
        right: 20px;
        padding: 10px; 
        font-size: 18px; /* Menyesuaikan ukuran font ikon */
    }
}
