.scroll-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ff9800;
    color: white;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid white;
    text-align: center;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease;
}

.scroll-icon:hover {
    background-color: #985b00;
}

.scroll-icon i {
    font-size: 20px;
}

#scroll-up {
    display: none;
}

.scroll-icon {
    opacity: 0.8;
}

.scroll-icon:hover {
    opacity: 1;
}
