/* Container Umum untuk Keterampilan */
.skills-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto; 
    padding: 20px;
}

.skills-header {
    background-color: #ffc107;
    color: #1c1c1c;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}

.skills-content {
    display: flex;
    flex-direction: column;
}

.skills-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.skill-icon {
    font-size: 1.5rem;
    color: #ff9800;
    margin-right: 20px;
}

.skill-details {
    flex-grow: 1;
    border-left: 2px solid #1c1c1c;
    padding-left: 10px;
}

.skill-title {
    font-weight: bold;
    font-size: 1.2rem;
    color: #1c1c1c;
    margin-bottom: 5px;
}

.skill-description {
    color: #666;
}

.highlighted {
    color: #ff9800;
    font-weight: bold;
    font-size: 1rem;
}

/* Responsif untuk mode Android (max-width: 767px) */
@media (max-width: 767px) {
    .skills-header {
        font-size: 1.2rem; 
        padding: 10px 15px;
    }

    .skills-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .skill-icon {
        font-size: 1.2rem; 
        margin-bottom: 10px;
    }

    .skill-details {
        border-left: none;
        padding-left: 0;
        padding-top: 10px;
    }

    .skill-title {
        font-size: 1.1rem;
    }

    .skill-description {
        font-size: 0.9rem;
    }
}

/* Responsif untuk mode tablet (min-width: 768px) dan (max-width: 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .skills-header {
        font-size: 1.4rem; /* Menyesuaikan ukuran font header */
        padding: 12px 18px; /* Menyesuaikan padding */
    }

    .skills-item {
        flex-direction: row;
        align-items: flex-start;
    }

    .skill-icon {
        font-size: 1.4rem; /* Menyesuaikan ukuran ikon */
    }

    .skill-title {
        font-size: 1.15rem; /* Menyesuaikan ukuran font judul */
    }

    .skill-description {
        font-size: 1rem; /* Menyesuaikan ukuran font deskripsi */
    }
}
